/* Composition de base */
footer {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background-color: #143139;
  color: white;
  text-align: center;
  font-family: "FontGreycliff";
}

/* Les 3 partis du footer */
.footer-sections {
  margin-top: 7vh;
  margin-bottom: 1.5em;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  padding-top: 2rem;
}

/* Chacune des partis individuelles du footer */
.footer-section {
  margin-bottom: 1.5em;
  text-align: center;
  justify-content: space-around;
  display: flex;
}

/* Le titre de chaques sections */
.footer-section h3 {
  position: relative;
  margin-bottom: 0.5em;
  font-family: "greycliff-cf", sans-serif;
  font-size: clamp(1.3rem, -1.5rem + 5.6vw, 1.45rem);
  font-style: normal;
}

/* Contenu complèt de chaques sections */
.contenu-footer-section {
  text-align: center;
}

/* Contenu complèt de l'information de chaques sections */
.footer-section ul {
  list-style: none;
  padding: 0;
}

/* Contenu individuel de l'information de chaques sections */
.footer-section ul li {
  margin-bottom: 0.5em;
  font-family: "greycliff-cf", sans-serif;
  font-size: clamp(-0.7rem, 1rem + 0.1vw, 5rem);
  font-style: normal;
}

/* Les liens clickables */
.footer-section ul li a {
  text-decoration: none;
  color: white;
}

// Les cérdits du site dans le footer
.credit{
  position: relative;
  font-size: clamp(0.75rem, 0.609rem + 0.683vw, 0.938rem);
  text-align: center;
  line-height: 10px;
  padding-bottom: 1rem;
  font-family: "greycliff-cf", sans-serif;
  font-style: normal;
}

.citation {
  font-family: "greycliff-cf", sans-serif;
  text-align: left;
  position: relative;
  z-index: 2;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.citation blockquote {
  font-family: "greycliff-cf", sans-serif;
  font-style: italic;
  border-left: 4px solid #ccc;
  padding: 13px 24px;
  color: #555;
}

.citation h4 {
  margin-bottom: 0.5em;
  font-size: 1.5em;
  color: white;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .citation blockquote {
    padding: 0;
    border-left: none;
  }
}

@media (min-width: 1920px) {
  .citation {
    max-width: 75%;
    margin: 20px auto;
    text-align: left;
  }

  .citation blockquote {
    font-size: 1.25em;
  }

  .citation h4 {
    font-size: 2em; 
  }
}
/********* Media Query *********/

/* Responsivité pour Tablette */
@media screen and (min-width: 768px) {
  footer {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
  }
  /* Mets les section en row au lieu d'en ranger */
  .footer-sections {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 7vh;
    padding-top: 0;
  }
  /* Élargie le section */
  .footer-section {
    width: 30%;
    margin-bottom: 0;
  }
  /* Élargie le contenue de la section */
  .contenu-footer-section {
    width: 67%;
    text-align: left;
  }
  /* Alligne le titre à gauche */
  .footer-section h3 {
    position: relative;
    margin-bottom: 0.5em;
    text-align: left;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
  }

  // Met les crédits plus bas
  .credit{
    margin-bottom: -1rem;
    padding-top: 2rem;
  }
}

/* Pour Desktop */
@media screen and (min-width: 1448px) {

  /* AJuste la largeur de la section */
  .footer-section {
    width: 32%;
    margin-bottom: 0;
  }
  .contenu-footer-section {
    width: 45%;
    text-align: left;
  }

  // Crédit sur le coté gauche en desktop
  .credit{
    position: absolute;
    bottom: 0;
    padding-left: 1rem;
    font-size: clamp(0.813rem, -0.146rem + 1.059vw, 1.125rem);
    text-align: justify;
    padding-bottom: 1.5rem;
  }

}
