body {
  margin: 0;
  overflow: hidden;
  background-color: #800000;
}

#corner-shape {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.line {
  stroke: green;
  stroke-width: 5;
  fill: none;
}