h1 {
    font-family: monospace;
}

h2,
h3 {
    color: white;
    font-family: "greycliff-cf", sans-serif;
    font-weight: 1000;
    font-style: bold;
}

.about-contenu h2 {
    font-family: 'AppleGaramond';
    font-size: 2em;
    margin-top: 0;
}

#professeurs>h2 {
    text-align: center;
}

.info-additionnel h3 {
    font-family: 'FontGreycliffBold';
    margin-bottom: 0.5em;
}

p {
    color: white;
}