/* SECTION DES PROFS */
 
.professeur-front-page{
  background-color: #0C293A;
  z-index: 0;
  min-height: 110vh;
}
 
.titre-professeur{
  font-family: "garamond-premier-pro-subhead", serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(3.125rem, 2.031rem + 5vw, 4.063rem);
  padding: 2.5rem 2rem;
}
 
.h1_prof {
  text-align: center;
  font-family: "garamond-premier-pro-subhead", serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(2.5rem, 2.102rem + 1.818vw, 5rem);
  color: white;
}
 
.professor-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  padding: 20px;
}
 
.professor-card {
  border-radius: 25px;
  padding: 10px;
 max-width: 25rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.professor-card img {
  max-width: 100%;
  transition: transform 0.3s ease-in-out;
}
 
.professor-card img:hover {
  transform: scale(1.03);
}
 
.professor-card > h2 {
  color: rgb(255, 255, 255);
  font-family: "greycliff-cf", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1.625rem, 1.571rem + 0.19vw, 1.875rem);
 
  padding-top: 1rem;
}
 
 
 
@media (max-width: 450px) {
  .professor-card {
      width: calc(90% - 40px);
 
      .button-link {
        display: none;
          }
  .professor-card > h2{
    font-size: clamp(1.125rem, -0.938rem + 10vw, 1.875rem);
  }
  }
}
 
/*=============== CARD ===============*/
.contenu {
  margin-inline: 1.5rem;
  padding-bottom: 5rem;
}
 
.card__contenu {
  display: flex;
  flex-direction: row;
    gap: 2.5rem;
    flex-wrap: wrap;
    justify-content: center;
}
 
.card__article {
  position: relative;
  overflow: hidden;
}
 
.card__img {
  width: 100%;
  height: 220px;
  background-size: cover;
  background-position: center;
  border-radius: 1.5rem;
}
 
.card__data {
  width: 280px;
  background-color: var(--contenu-color);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}
 
.card__description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 0.25rem;
}
 
.card__title {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: 0.75rem;
}
 
.card__bouton {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--first-color);
}
 
.card__bouton:hover {
  text-decoration: underline;
}
 
 
 
/*=============== BREAKPOINTS ===============*/
 
@media screen and (max-width: 340px) {
  .contenu {
      margin-inline: 1rem;
  }
  .card__data {
      width: 250px;
      padding: 1rem;
  }
}
 
 
@media screen and (min-width: 450px) {
 
.card__contenu {
  flex-direction: row;
}
 
 
.titre-professeur {
  font-size: clamp(4.063rem, 2.855rem + 2.973vw, 6.5rem);
  text-align: center;
}
}
 
 
@media screen and (min-width: 1120px) {
  .card__contenu {
      grid-template-columns: repeat(2, 1fr);
  }
  .card__img {
      height: 400px;
  }
  .card__data {
      width: 316px;
      padding-inline: 2.5rem;
  }
}
 
 
 
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
 margin-top: 2rem;
}
 
.teacher-photo {
  position: relative;
  width: 300px;
  height: auto;
  margin-bottom: 20px;
  overflow: hidden;
}
 
.teacher-photo picture,
.teacher-photo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
 
.teacher-info {
  text-align: center;
  margin-top: 10px;
  padding: 0 20px;
}
 
.teacher-info h2 {
  color: rgb(255, 255, 255);
  font-family: "greycliff-cf", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: clamp(1.75rem, 0.833rem + 4.444vw, 2.5rem);
}
 
/* Button Styles */
.teacher-buttons {
  display: flex;
  justify-content: left;
  gap: 15px;
  margin: 20px 0;
}
 
.teacher-buttons button {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid;
  font-size: clamp(0.875rem, 0.832rem + 0.192vw, 1.063rem);
}
 
.teacher-info p {
  font-size: 18px;
  line-height: 1.5;
  padding: 1rem 0rem;
}
 
/* Mobile Styles */
@media (max-width: 600px) {
 
  .teacher-photo {
      width: 100%;
      max-width: 100%;
  }
 
  .teacher-info p {
      font-size: 18px;
      margin-bottom: 3em;
      padding: 0;
      text-align: left;
  }
  .teacher-buttons {
    display: flex;
    justify-content: center;
  }
}
 
/* Tablet Styles */
@media (min-width: 601px) and (max-width: 1024px) {
  .profile-container {
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
  }
 
  .teacher-photo {
      margin-right: 20px;
      width: 300px;
      height: auto;
  }
 
  .teacher-info {
      margin-top: 0;
      text-align: left;
      width: 60%;
  }
 
 
 
  .teacher-info p {
      font-size: 18px;
  }
}
 
/* Desktop Styles */
@media (min-width: 1025px) {
  .profile-container {
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      padding: 40px;
  }
 
  .teacher-photo {
      margin-right: 40px;
      width: 300px;
      height: auto;
  }
 
  .teacher-info {
      margin-top: 0;
      text-align: left;
      width: 60%;
  }
 
 
 
  .teacher-info p {
      font-size: 20px;
  }
}
 
@media screen and (min-width: 1240px) {
 
}
 
.card__article{
  display: flex;
  justify-content: center;
}
   
 
/* Styles par défaut pour l'accordéon */
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
 
.accordion-content.open {
  max-height: 100vh; /* Ouvre complètement l'accordéon */
}
 
/* Styles pour le bouton */
.accordion-toggle {
  background: transparent;
  border: 1px solid white;
  border-radius: 9px;
  color: white;
  font-size: clamp(0.875rem, 0.809rem + 0.303vw, 1.188rem);
  display: block;
  margin: 13px 0;
  cursor: pointer;
  text-align: center;
  padding: 8px 12px;
  transition: background-color 0.3s ease;
}
 
.accordion-toggle:hover {
  background-color: rgb(42, 170, 209);
}
 
 
 
/* Supprime l'accordéon et affiche tout le contenu sous 600px */
@media (min-width: 1400px) {
  .accordion {
    border: none;
    padding: 0;
  }
 
  .accordion-intro {
    display: none;
  }
 
  .accordion-content {
    max-height: none;
    overflow: visible;
  }
 
  .accordion-toggle {
    display: none;
  }
}
 
 