/* SECTION DES PROFS */
h1 {
  text-align: center;
  margin: 20px 0;
  color: white;
}

.professor-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.professor-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 10px;
  width: calc(100% / 3 - 40px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.professor-card img {
  max-width: 100%;
}

button {
  background-color: #6d50e6;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

button:hover {
  background-color: #5c3fbe;
}

.professor-card > h2 {
  color: black;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .professor-card {
      width: calc(100% - 40px);
  }
}

/*=============== CARD ===============*/
.contenu {
  place-items: center;
  margin-inline: 1.5rem;
  padding-bottom: 5rem;
}

.card__contenu {
  display: grid;
  row-gap: 3.5rem;
}

.card__article {
  position: relative;
  overflow: hidden;
}

.card__img {
  width: 100%;
  height: 220px; /* Adjust height as needed */
  background-size: cover;
  background-position: center;
  border-radius: 1.5rem;
}

.card__data {
  width: 280px;
  background-color: var(--contenu-color);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card__description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 0.25rem;
}

.card__title {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: 0.75rem;
}

.card__bouton {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--first-color);
}

.card__bouton:hover {
  text-decoration: underline;
}

/*=============== BREAKPOINTS ===============*/
/* Small devices */
@media screen and (max-width: 340px) {
  .contenu {
      margin-inline: 1rem;
  }
  .card__data {
      width: 250px;
      padding: 1rem;
  }
}

/* Medium devices */
@media screen and (min-width: 768px) {
  .card__contenu {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.5rem;
  }
}

/* Large devices */
@media screen and (min-width: 1120px) {
  .card__contenu {
      grid-template-columns: repeat(2, 1fr);
  }
  .card__img {
      height: 250px;
  }
  .card__data {
      width: 316px;
      padding-inline: 2.5rem;
  }
}



.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.teacher-photo {
  position: relative;
  width: 300px;
  height: auto;
  margin-bottom: 20px;
  overflow: hidden;
}

.teacher-photo picture,
.teacher-photo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.teacher-info {
  text-align: center;
  margin-top: 10px;
  max-width: 600px;
  padding: 0 20px;
}

.teacher-info h2 {
  font-size: 24px;
  margin: 10px 0;
}

/* Button Styles */
.teacher-buttons {
  display: flex;
  justify-content: left;
  gap: 15px;
  margin: 20px 0;
}

.teacher-buttons button {
  background-color: #6d50e6;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
}

.teacher-buttons button:hover {
  background-color: #5c3fbe;
}

.teacher-info p {
  font-size: 16px;
  line-height: 1.5;
}

/* Mobile Styles */
@media (max-width: 600px) {

  .teacher-photo {
      width: 100%;
      max-width: 100%;
  }

  .teacher-info h2 {
      font-size: 20px;
  }

  .teacher-info p {
      font-size: 14px;
  }
  .teacher-buttons {
    display: flex;
    justify-content: center;
  }
}

/* Tablet Styles */
@media (min-width: 601px) and (max-width: 1024px) {
  .profile-container {
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
  }

  .teacher-photo {
      margin-right: 20px;
      width: 300px;
      height: auto;
  }

  .teacher-info {
      flex: 1;
      margin-top: 0;
      text-align: left;
  }

  .teacher-info h2 {
      font-size: 32px;
      margin-bottom: 10px;
  }

  .teacher-info p {
      font-size: 18px;
  }
}

/* Desktop Styles */
@media (min-width: 1025px) {
  .profile-container {
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      padding: 40px;
  }

  .teacher-photo {
      margin-right: 40px;
      width: 300px;
      height: auto;
  }

  .teacher-info {
      flex: 1;
      margin-top: 0;
      text-align: left;
  }

  .teacher-info h2 {
      font-size: 40px;
      margin-bottom: 10px;
  }

  .teacher-info p {
      font-size: 20px;
  }
}
