.header {
  position: relative;
  z-index: 4;
}

.OuLa {
  position: relative;
  height: calc(100vh - 50px - 4em);
  padding: 20px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.content-wrapper {
  text-align: left;
  z-index: 2;
  margin-top: -11rem;
}

.Swirl {
  position: absolute;
  top: 50%;
  left: 15%;
  margin: 0 auto;
  transform: translateY(-50%);
  z-index: 1;
  width: 100%;
  height: auto;
  max-width: 100%;
}

@media screen and (min-width: 1025px) { /* Desktop */
  .Swirl {
    width: 80%;
    left: 20%;
  }
}
@media screen and (min-width: 1900px) {
  .Swirl {
    width: 90%;
  }
  
}
@media screen and (min-width: 2100px) {
  .Swirl {
    width: 95%;
    left: 20%;
  }
  
}

@media screen and (max-width: 1024px) { /* Tablet */
  .Swirl {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.OuLa h1 {
  position: relative;
  font-size: 70px;
  margin: 0;
  line-height: 0.8;
  text-align: left;
  width: 85%;
}

.OuLa h1 span {
  font-style: italic;
  color: black;
  font-family: "garamond-premier-pro-display", serif;
font-weight: 500;
font-size: 85px;
}

/* Tablet Styles */
@media (min-width: 601px) and (max-width: 1024px) {
  .OuLa {
      flex-direction: column;
      align-items: flex-start;
      padding: 20px 40px;
  }

  .OuLa h1 {
      font-size: 48px;
      margin-top: 20px;
  }
}

/* Desktop Styles */
@media (min-width: 1025px) {
  .OuLa {
      flex-direction: column;
      align-items: flex-start;
      padding: 40px 80px;
  }

  .OuLa h1 {
      font-size: 100px;
      margin-top: 20px;
  }
  .OuLa h1 span {
      font-family: 'AppleGaramond';
  }
}

.APropos {
  position: relative;
  overflow: hidden;
}

#corner-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}


.titre-principale{
  font-family: "garamond-premier-pro-subhead", serif;
  font-weight: 400;
  font-style: normal;
}

.titre-principale-italique{
  font-family: "garamond-premier-pro", serif;
font-weight: 400;
font-style: italic;
}


///////////////////// SECTION À PROPOS ///////////////////////////


/////////////////// SECTION PROFESSEUR ////////////////////////

