/* Style général pour le contenu de la section "À propos" */

.APropos{
  background-color: #0C293A;
  z-index: 0;
}

.line {
  stroke: #43C4EB;
  stroke-width: 5;
  fill: none;
}

.h2-info{
  font-style: italic;
  color: white;
  font-family: 'AppleGaramond';
  font-weight: 500;
  font-size: 85px;
  font-size: clamp(3.75rem, 3.553rem + 0.926vw, 5rem);
}

.h2-info2{
  display: none;
}

.contenu-about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  padding-bottom: 5em;
}



.h3-info{
  font-family: "greycliff-cf", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  margin-top: -2rem;
  padding-bottom: 2rem;
  font-size: clamp(1.438rem, 1.27rem + 0.787vw, 2.5rem);
}

.h3-info2{
  display: none;
}

.image-info{
  display: flex;
  flex-direction: column;
}

.about-contenu{
  padding-top: 1rem;
  width: 100%;
}

.tenor-gif-embed {
  background: none !important; 
  box-shadow: none !important; 
}

.info-additionnel{
  padding-top: 2.5rem;
}

.about-contenu p,
.info-additionnel h3{
  font-family: "greycliff-cf", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1.063rem, 0.885rem + 0.833vw, 2.188rem);
  hyphens: manual; 
  word-break: break-word; 
  width: fit-content;
}

.about-contenu p{
  line-height: 1.2;
  text-align: justify;
}

.mot-couleur{
  color: aqua;
}

.info-additionnel {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
}

.info-additionnel-section{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.info-additionnel h3{
  text-align: left;
}

.info-additionnel-section-svg{
  width: 6%;
  fill: aqua;
}


.image-apropos {
  flex: 1;
  margin-right: 1em;
  max-width: 100%;
}

.image-apropos img {
  width: 80%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
}

/* Style pour les petits écrans */
@media screen and (max-width: 768px) {
  .contenu-about {
      flex-direction: column;
      text-align: center;
  }

  .titre-principal {
      text-align: center;
  }

  .titre-principal h2 {
      order: 1;
      width: 100%;
      text-align: center;
      padding-left: 0;
  }


  .image-apropos {
      order: 2;
      margin-right: 0;
      margin-bottom: 1em;
      display: flex;
      justify-content: center;
      width: 100%;
  }

  .image-apropos img {
      width: 80%;
      max-width: 300px;
      margin: 0 auto;
  }

  .about-contenu {
      order: 3;
      width: 100%;
  }

  .about-contenu p,
  .info-additionnel {
      order: 4;
      width: 100%;
  }
}

/* Style pour les écrans de tablette */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  
  .line.inactive {
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .line.active {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {

  .APropos{
    padding: 20px 40px;
  }

  .titre-principal {
    margin-bottom: .7em;
    margin-top: .5em;
}

  .contenu-about{
    padding: 0;
  }


  .h3-info{
    display: none;
      }
      
      .h3-info2{
        font-family: "greycliff-cf", sans-serif;
        font-weight: 500;
        font-style: normal;
    
        padding-bottom: 2rem;
        font-size: clamp(1.438rem, 1.27rem + 0.787vw, 2.5rem);
        display: block;
        padding-bottom: 2rem;
      }

  .image-info{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .image-apropos {
    flex: 1;
    min-width: 38%;
}

  .image-apropos img {
    width: 100%;
}
.about-contenu{
  max-width: 70%;
  padding-top: 0;
}

.about-contenu p{
  font-size: clamp(1.063rem, 0.443rem + 1.291vw, 2.5rem);
}

.info-additionnel {
  flex-direction: row;
  gap: 2.5em;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.info-additionnel-section {
  width: 47%;
}

}


@media screen and (min-width: 1448px){

  .h2-info{
    display: none;
  }
  
  .h2-info2{
    display: block;
    font-style: italic;
    color: white;
    font-family: 'AppleGaramond';
    font-weight: 500;
    font-size: clamp(3.75rem, 3.553rem + 2vw, 5rem);
    padding-bottom: 3rem;
  }

  .image-info {
    justify-content: flex-start;
}

  .image-apropos {
    flex: 1;
    min-width: 33%;
    max-width: 400px;
}

  .image-apropos img {
    width: 88%;
    max-width: 475px;
}

.info-additionnel {
  gap: 3em;
  padding-left: 7rem;
  padding-bottom: 6rem;
}
}