.search-input::-webkit-search-cancel-button {
  display: none; /* Cache le bouton "X" dans Chrome/Safari */
}

.search-input:focus {
  background-color: transparent !important; /* Fond transparent lors du focus */
  outline: none; /* Supprimer le contour par défaut */
  color: white; /* Garder le texte en blanc */
}


.search-input:-webkit-autofill {
  background-color: transparent !important; /* Lorsque les suggestions de remplissage automatique apparaissent */
}

.search-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
  z-index: 101;
  border: 1px solid white;
  border-radius: 100px;
}

.search-input::placeholder {
  color: #ffffff; /* Remplacez cette couleur par celle que vous préférez */
  opacity: 1; /* Assurez-vous que l'opacité du placeholder est à 100% */
}

.search-form {
  display: flex;
  align-items: center;
  width: 0%;
}

.search-label{
  width: clamp(5rem, 8vw, 21rem);
}

.search-input {
  flex: 1;
  padding: 8px 10px;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  outline: none;
  background-color: transparent;
  color: white;

}

.search-button svg {
  width: 20px; /* ajustez la taille du SVG */
  height: 20px; /* ajustez la taille du SVG */
  fill: currentColor; /* Utilise la couleur du texte du bouton pour le SVG */
}



.search-button {
  color: white;
  padding: 6px 8px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s;
  background-color: transparent;
  padding-top: .5rem;
}

.search-button:hover {
  background-color: #005885;
}

.search-icon {
  font-size: 20px;
}

@media (max-width: 650px) {
  .search-container {
    margin-left: 15px;
  }

  .search-form {
    max-width: 70%;
  }

  .search-input {
    font-size: 14px;
  }

  .search-button {
    padding: 8px 10px;
    font-size: 14px;
  }
}