/* Styles pour mobile (par défaut) */
.stages-section {
    padding: 20px;
    text-align: center;
}

.stages-section h1 {
    font-size: clamp(4.063rem, 2.855rem + 2.973vw, 7.5rem);
    margin-bottom: 40px;
    font-family: "garamond-premier-pro-subhead", serif;
    font-weight: 400;
    font-style: normal;
}

.stage-type, .stage-company {
    margin-bottom: 20px;
}

.stage-type h2, .stage-company h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.scroll-button {
    background-color: #0786e3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.stage-details h1 {
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 20px;
}

.stage-details p {
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.5;
}

.stage-details img {
    width: 100%;
    max-width: 475px;
    height: auto;
    margin: 0 auto;
}

/* Tablet */
@media (max-width: 1023px) {
    .stage-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .stage-company {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 60px;
        padding-bottom: 55px;
        max-width: 475px;
    }

    .stage-title h2 {
        margin-bottom: 15px;
        color: white
    }

    .stage-image img {
        margin-bottom: 15px;
    }

    .stage-description {
        margin-top: 15px;
        width: 100%;
    }
    
}

/* Mobile */
@media (min-width: 768px) and (max-width: 1200px) {
    .stage-company {
        max-width: 500px;
        border-radius: 20px;
        border: 1px solid white;
        padding: 20px;
    }
    .stages-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/* Desktop */
@media (min-width: 1201px) {
    .stages-section {
        max-width: 80%;
        margin: 0 auto;
        padding: 20px;
    }

    .stage-wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .stage-company {
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 20px;
        border: 1px solid white;
    }

    .stage-title h2 {
        font-size: 2rem;
        margin-bottom: 10px;
        margin-left: 50px;
        margin-top: 30px;
        text-align: left;
        color: white
    }

    .stage-content {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        width: 100%;
    }

    .stage-image img {
        max-width: 500px;
        height: auto;
    }

    .stage-description {
        flex-grow: 1;
        font-size: 1rem;
        line-height: 1.5;
        text-align: left;
        max-width: 100%;
    }
    .stage-description p {
        margin-bottom: 20px;
        color: white
    }
}
@media (min-width: 1600px) {
    .stage-company {
        max-width: 80%;
        margin: 0 auto;
    }
}